.footer{
    width: 100%;
    padding: 50px 50px 0px;
    background-color: #0a0a18;
    min-height: 200px;
}
.footer .box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
.footer .box .left{
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}
.footer .box .left .categories > p {
    font-size: 28px;
    margin-bottom: 30px;
}
.footer .box .left .categories div{
    margin-bottom: 15px;
    width: max-content;
}
.footer .box .left .categories div p{
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    padding: 0 10px;
    border-left: 1px solid #fff0;
    border-right: 1px solid #fff0;
    transition: 0.3s;
}
.footer .box .left .categories div p:hover{
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.footer .contact{
    margin-left: 10px;
}
.footer .contact p{
    font-size: 28px;
    margin-bottom: 30px;
}
.footer .contact div{
    font-size: 17px;
    margin-bottom: 15px;
    color: #aaa;
}
.footer .newsletter p{
    font-size: 28px;
    margin-bottom: 30px;
}
.footer .newsletter .email{
    display: flex;
}
.footer .newsletter .email input{
    width: 400px;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
}
.footer .newsletter .email button{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.footer .newsletter .email button:hover{
    color: #0a0a18;
    background-color: #fff;
}
.footer .copyrights{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}