:root{
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  --color: #0077ff;
  --green: #1ec6b6;
  --light-grey: #f7f7f7;
  --dark: #0e1010;
  --trans: all 0.3s ease-in-out;
}
#destinations {
    min-height: 100vh;
    padding-top: 7rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../assets/gallery-5.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/gallery-5.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/gallery-5.jpg) center/cover no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    text-align: center;
}
#Destination {
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.destinations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.destination-card {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-left: 10px;
  margin-bottom: 35px;
  width: 300px;
  border: 1px solid #2980b9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  transition: .4s ease-in-out;
}
.destination-card:hover {
  transform: scale(1.05);
}

.destination-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.destination-card p {
  margin-bottom: 10px;
}

.destination-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.destination-card .price {
  font-weight: bold;
}
/* inspired form gumroad website */
.book-now-btn {
  color: #fff;
  border: 2px solid var(--green);
  border-radius: 9px;
  padding: 5px 12px;
  background: var(--green);
  transition: 0.2s;
  font-weight: 600;
}

.book-now-btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  border: 2px solid var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.book-now-btn:active {
  transform: translate(0);
  box-shadow: none;
}

/* LOading Anime */
.loader {
  margin: auto;
  margin-top: 25%;
  margin-bottom: 50%;
 width: 50px;
 height: 50px;
 position: relative;
 transform: translateX(-25px);
}

.loader::before,
.loader::after {
 content: '';
 position: absolute;
 width: inherit;
 height: inherit;
 border-radius: 50%;
 mix-blend-mode: multiply;
 animation: rotate9 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.loader::before {
 background-color: #fc3f9e;
}

.loader::after {
 background-color: #50e8f3;
 animation-delay: .5s;
}

@keyframes rotate9 {
 0%,100% {
  left: 50px;
 }

 25% {
  transform: scale(.3);
 }

 50% {
  left: 0;
 }

 75% {
  transform: scale(1);
 }
}