body {
background: #009FFF;
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
background: linear-gradient(to right, #ec2F4B, #009FFF); 
}
.Form {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 25%;
    align-items: center;
    box-shadow: rgba(50, 50, 90, 0.2) 0px 13px 27px;
    height: 50%;
    width: 35%;
    margin-inline: auto;
    padding-block: 10px;
    background-color: #171717;
    border-radius: 10px;
    transition: .4s ease-in-out;
    gap: 1rem;
}
.Form:hover {
    transform: scale(1.05);
    border: 1px solid black;
}
.Form > .loginBanner {
    color: #009FFF;
    font-size: 2em;
    margin-bottom: 20px;
}
.Form > p {
    color: red;
}
.input-thing {
    display: flex;
    align-items: center;
}

form input:not([type="submit"]) {
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
form input:not([type="submit"]):focus {
    border-bottom: 1px solid rgb(18, 172, 18);
}
form input[type="submit"] {
    color: rgb(18, 172, 18);
    width: 25%;
    margin-top: 10%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2em;
}
form input[type="submit"]:hover {
    background-color: rgb(18, 172, 18);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
