:root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}

/* Loading Anime */
.loader-hot {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
 
 



/* :root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}
#hotels {
  min-height: 100vh;
    padding-top: 7rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../assets/gallery-8.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/gallery-8.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/gallery-8.jpg) center/cover no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    text-align: center8
}
.header-form-hotel {
  background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 1.2rem;
    width: 85%;
    margin: 0 auto;
}
.header-form-hotel form{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-form-hotel input {
  width: 30%;
  height: 40px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 18px;
  color: var(--light-grey);
  outline: none;
  margin-bottom: 20px;
}
.header-form-hotel input::placeholder {
  color: var(--light-grey);
}
.header-form-hotel input:focus {
  border: 1px solid var(--green);
}
.header-form-hotel button {
  color: var(--green);
  background: transparent;
  border: 1px solid var(--green);
  border-radius: 10px;
  padding: 0 20px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: var(--trans) ;
}
.header-form-hotel button:hover {
  background: var(--green);
  color: white;
  transform: scale(1.05);
}


.hotel {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  margin-top: 25px;
}
.hotel-card {
  height: 0.5%;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 1.02rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  transition: .4s ease-in-out;
}
.hotel-card:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}
.hotel-card img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}
.hotel-card h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.hotel-card p {
  color: var(--light-grey);
  font-size: 16px;
  margin-bottom: 10px;
}
.hotel-card button {
  color: var(--green);
  background: transparent;
  border: 1px solid var(--green);
  border-radius: 10px;
  padding: 0 20px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
.hotel-card button:hover {
  background: var(--green);
  color: white;
} */