@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --green: #1ec6b6;
  --light-grey: #f7f7f7;
  --dark: #0e1010;
  --trans: all 0.3s ease-in-out;
}

.signin {
  background: url(../../assets/gallery-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 90vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.login-form h1 {
  color: var(--dark);
}

.form-group {
  width: 70%;

  margin-bottom: 55px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="name"],
input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: #f64f59;
  font-size: 14px;
  margin-top: 5px;
}

.submit-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:active {
  background-color: #0056b3;
  transform: translateY(1px);
}
